<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Blizzard</title>
</head>



<body>
    <section class="container">
        <div id="toolbar">
            <h1>blizzard</h1>
            <label for="stroke">Farbe</label>
            <input id="stroke" name='stroke' type="color">
            <label for="lineWidth">Stärke</label>
            <input id="lineWidth" name='lineWidth' type="number" value="5">
            <button id="clear">Clear</button>
            <button type="button" id="uploadButton">Done</button>
            <button type="button" id="uploadButton">Download</button>
            <button type="button" id="changeURL" onclick="insertURLParam('lobby', '1')">Change URL</button>
        </div>
        <div class="drawing-board">
            <canvas id="drawing-board"></canvas>
        </div>
    </section>


<!-- Drawing Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    
    const canvas = document.getElementById('drawing-board');
        const toolbar = document.getElementById('toolbar');
        const context = canvas.getContext('2d');
        
        const canvasOffsetX = canvas.offsetLeft;
        const canvasOffsetY = canvas.offsetTop;
        
        canvas.width = window.innerWidth - canvasOffsetX;
        canvas.height = window.innerHeight - canvasOffsetY;
        
        let isPainting = false;
        let lineWidth = 5;
        let startX;
        let startY;
        
        toolbar.addEventListener('click', e => {
            if (e.target.id === 'clear') {
                context.clearRect(0, 0, canvas.width, canvas.height);
            }
        });

        
        toolbar.addEventListener('change', e => {
            if(e.target.id === 'stroke') {
                context.strokeStyle = e.target.value;
            }
        
            if(e.target.id === 'lineWidth') {
                lineWidth = e.target.value;
            }
            
        });
        
        const draw = (e) => {
            if(!isPainting) {
                return;
            }
        
            context.lineWidth = lineWidth;
            context.lineCap = 'round';
        
            context.lineTo(e.clientX - canvasOffsetX, e.clientY);
            context.stroke();
        }
        
        canvas.addEventListener('mousedown', (e) => {
            isPainting = true;
            startX = e.clientX;
            startY = e.clientY;
        });
        
        canvas.addEventListener('mouseup', e => {
            isPainting = false;
            context.stroke();
            context.beginPath();
        });
        
        canvas.addEventListener('mousemove', draw);


        const frontpage = "frontpage"
        /* Updoad script */

            // Setzt einen Eventhandler für den Button
            const button = document.getElementById("uploadButton");
            button.onclick = onUploadButtonClicked;

            function onUploadButtonClicked() {
                // Lädt das Canvas als PNG zum Server hoch
                const dataURL = document.getElementById("drawing-board").toDataURL("image/png");

                // AJAX-Aufruf, verwendet hier jquery
                $.post('/onupload', {
                    img: dataURL
                
                });
                console.log('test')
                window.location.href=frontpage;
            }

            function getURLParam(parameterName) {
                let parameters = new URLSearchParams(window.location.search);
                return parameters.get(parameterName);
            } 

            /* url parameter insert function for handling different game sessions */
            function insertURLParam(key, value) {
                    key = encodeURIComponent(key);
                    value = encodeURIComponent(value);

                    // kvp looks like ['key1=value1', 'key2=value2', ...]
                    var kvp = document.location.search.substr(1).split('&');
                    let i=0;

                    for(; i<kvp.length; i++){
                        if (kvp[i].startsWith(key + '=')) {
                            let pair = kvp[i].split('=');
                            pair[1] = value;
                            kvp[i] = pair.join('=');
                            break;
                        }
                    }

                    if(i >= kvp.length){
                        kvp[kvp.length] = [key,value].join('=');
                    }

                    // can return this or...
                    let params = kvp.join('&');

                    // reload page with new params
                    document.location.search = params;
                } 
        
        </script>

</body>
</html>