<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Blizzard</title>
    <link href="https://www.dafont.com/al-seana.font#top" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/draw.css">
</head>
<body>
<section class="container">
    <div class="drawing-board">
        <canvas id="drawing-board"></canvas>
    </div>
    <div id="toolbar">
        <label for="stroke" class="colour">Color</label>
        <input id="stroke" name="stroke" type="color" class="stroke">
        <label for="lineWidth" class="size">Size</label>
        <input id="lineWidth" name="lineWidth" class="reiter" type="number" value="5">
        <button id="clear" class="clear">Clear</button>
        <button id="done" class="done">Done</button>
        <button id="download" class="download">Download Canvas</button>
    </div>
</section>
<script>
    const canvas = document.getElementById('drawing-board');
    const toolbar = document.getElementById('toolbar');
    const context = canvas.getContext('2d');

    const canvasOffsetX = canvas.offsetLeft;
    const canvasOffsetY = canvas.offsetTop;

    canvas.width = window.innerWidth - canvasOffsetX * 2;
    canvas.height = window.innerHeight - canvasOffsetY - toolbar.offsetHeight - 50;

    toolbar.style.marginLeft = canvasOffsetX + 'px';

    let isPainting = false;
    let lineWidth = 5;
    let startX;
    let startY;

    toolbar.addEventListener('click', e => {
        if (e.target.id === 'clear') {
            context.clearRect(0, 0, canvas.width, canvas.height);
        }
    });

    toolbar.addEventListener('click', e => {
        if (e.target.id === 'done') {
            window.location.href = "register";
        }
    });

    toolbar.addEventListener('change', e => {
        if (e.target.id === 'stroke') {
            context.strokeStyle = e.target.value;
        }

        if (e.target.id === 'lineWidth') {
            lineWidth = e.target.value;
        }

    });

    const draw = (e) => {
        if (!isPainting) {
            return;
        }

        context.lineWidth = lineWidth;
        context.lineCap = 'round';

        context.lineTo(e.clientX - canvasOffsetX, e.clientY - canvasOffsetY); //warum 110?
        context.stroke();
    }

    canvas.addEventListener('mousedown', (e) => {
        isPainting = true;
        startX = e.clientX;
        startY = e.clientY;
    });

    canvas.addEventListener('mouseup', e => {
        isPainting = false;
        context.stroke();
        context.beginPath();
    });

    canvas.addEventListener('mousemove', draw);
</script>
</body>
</html>
