<!DOCTYPE html>
<html>
    <head>
        <title>welcome to blizzard</title>
        <link href="https://www.dafont.com/al-seana.font#top" rel="stylesheet">
        <link rel="stylesheet" href="stylefrontpage.css">
    </head>
    <body>
        <h1>login to play</h1>
        <form action="/login" method="POST">
            username: <br>
            <input type="text" name="username"><br>
            password: <br>
            <input type="text" name="password"><br>
            <button type="submit">login</button>
            <a href="/register">
                register new account </a>
        </form>
    </body>
</html>