<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tutorial to Blizzard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/receive.css">
    <link href="https://www.dafont.com/al-seana.font#top" rel="stylesheet">
</head>
<body>
<div class="container d-flex align-items-center justify-content-center">
    <div class="col-7 card border-0 shadow my-5 ">
        <div class="card-body p-4 p-sm-5">
            <strong>Congrats!</strong> You've received an invitation from a friend!<br>

            Now?What can you do?<br><br>
            You'll each take a turn drawing on the same canvas.<br>
            After everyone finished, you will each receive your finished canvas in an email or view it
            on the website <br>
            then you can all laugh together....<br><br>
            Now! let's begin

            <div class="row">
                <div class="col text-center">
                    <button onclick="location.href='/draw'">Start!</button>

                    <!--<button class="col-6 btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                        in
                    </button> !-->
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
