<!DOCTYPE html>
<html lang="en">
<head>
    <title>username exists already</title>
    <link href="https://www.dafont.com/al-seana.font#top" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/invite.css">
</head>
<body>
<h1>following username already exists: <%= username %></h1>
<a href="/register">
    <h2>back to register</h2></a>
</body>
</html>
