<!DOCTYPE html>
<html lang="en">
<head>
    <title>welcome!</title>
    <link href="https://www.dafont.com/al-seana.font#top" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/invite.css">
</head>
<body>
<h1>welcome to blizzard, <%= username %></h1>
<a href="/draw">
    <h2>go draw!</h2></a>
<a href="/login">
    <h2>sign out</h2></a>
</body>
</html>
