<!DOCTYPE html>
<html>
    <head>  
        <title>welcome!</title>
    </head>
    <body> 
        <h1>welcome to blizzard!</h1>
        <p>
            <%= username%>
        </p>
        <a href="/draw">
            go draw! </a> <br>
        <a href="/signout">
            sign out </a>
    </body>
</html>