<!DOCTYPE html>
<html>
    <head>  
        <title>username exists already</title>
    </head>
    <body> 
        <h1>following username exists already:</h1>
        <p>
            <%= username%>
        </p>
        <a href="/frontpage">
            back to frontpage </a>
    </body>
</html>