<!DOCTYPE html>
<html>
    <head>
        <title>register to blizzard</title>
    </head>
    <body>
        <h1>register new account</h1>
        <form action="/newaccount" method="POST">
            Username: <br>
            <input type="text" name="username"><br>
            Passwort: <br>
            <input type="text" name="password"><br>
            Repeat Passwort: <br>
            <input type="text" name="password"><br>
            Email: <br>
            <input type="text" name="email"><br>
            
            <button type="submit">register</button>
            <a href="/frontpage">
                back to login </a>
        </form>
    </body>
</html>