<!DOCTYPE html>
<html>
    <head>
        <title>welcome to blizzard</title>
    </head>
    <body>
        <h1>click start to begin a session</h1>
            <a href="/draw"> start! </a> <br>


            <a href="/invie"> invite a friend </a> <br>

            <p>
                <b>Eine Kurze Anleitung</b> <br>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
            </p>

    </body>
</html>