<!DOCTYPE html>
<html lang="en">
<head>
    <title>welcome to blizzard</title>
    <link href="https://www.dafont.com/al-seana.font#top" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/start.css">

</head>
<body>

<a href="/draw">
    <button class="btn">DRAW</button>
</a>


<a href="/invite">
    <button class="btn2">Invite Friends</button>
</a>

<p class="text">
    <b>A short Introduction</b> <br>
    You'll each take a turn drawing on the same canvas. After 5 rounds of skribbling you'll receive your finished piece per Email.
</p>


</body>
</html>
